/* You can add global styles to this file, and also import other style files */

.cursor-pointer {
  cursor: pointer;
}

.card--chosen {
  border: 1px solid #000;
}

.card__image {
  height: 200px;
  object-fit: contain;
}
